:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

hr {
  clear: both;
}

.header-right {
  contain: layout;
  float: right;
}

.header-right > p {
  margin-block: 0px;
}

.popup {
  padding: 0.5em;
  position: absolute;
  right: 0px;
  top: 0%;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  width: 40ch;
}

.ingredient-amount-input {
  width: 6ch;
}

.ingredient-name-input {
  width: 60ch;
}

.recipe-editor textarea {
  font-family: inherit;
  min-width: min(60ch, 100%);
  min-height: 6em;
  height: 20em;
}

ol > li {
  margin-block: 0.75em;
  width: min(60ch, 100%);
}
